@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #000;
    --sec-color-blue: #377DFF;
    --sec-color-green: #38CB89;
    --sec-color-orange: #FFAB00;
    --sec-color-orange: #FFAB0066;
    --sec-color-red: #FF5630;
    --background-color: #FFF;
    --neutral-card-color:  #F3F5F7;
    --neutral-color: #6C7275;

    /* Typo and Fonts */
    --h1-font-size: 3rem;
    --h2-font-size: 2.8rem;
    --h3-font-size: 2.4rem;
    --h4-font-size: 2.0rem;
    --h5-font-size: 1.6rem;

    /* Margins $ Bottoms */
    --mb-4: 4.0rem;
    --mb-2-5: 2.5rem;
    --mb-1: 1rem;

    /* Paddings */
    --pd-btn: .8rem 1.6rem;
}




/* General Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 10px;
  /* 1 rem = 10px */
}


body {
    font-family: poppins, san serif;
    font-size: 1.6rem;
}


a {
    text-decoration: none;
    color: var(--primary-color);
}

ul {
    list-style: none;
}

h1, 
h2 {
    font-weight: 700;
    line-height: 1.2;
}

h3,
h4,
h5 {
    font-weight: 400;
}

p {
    line-height: 1.2;
    font-weight: 400;
}

img {
    width: 100%;
}

/* Utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;  /*getting rid of white on the navbar caused by the margin-top on H1 and H2 */
    padding: 0 4rem;
}


.card {
    color: var(--neutral-card-color);
    padding: 2rem;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}


/* Buttons and Input */
button {
    display: inline-block;
    padding: var(--pd-btn);
    border: none;
    outline: none;
    color: var(--background-color);
    background-color: var(--primary-color);
    border-radius: .8rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    font-weight: 500;
    color: var(--primary-color);
    background-color: transparent;
    border: 1.5px solid var(--primary-color);
}


input {
    border: none;
    outline: none;
}

/* TOP NAV */
.top-nav {
    width: 100%;
    height: 4.5rem;
    background-color: var(--neutral-card-color);
}

.top-nav .flex {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.top-nav-icon {
    margin-right: .8rem;
}

.top-nav span a{
    margin-left: .8rem;
    display: inline-flex;
    align-items: center;
    color: var(--sec-color-blue);
    border-bottom: 1.35px solid var(--sec-color-blue);
    transition: .3s;
}

.top-nav span a:hover,
.top-nav span a:active {
    opacity: .7;
}

/* NAVBAR */
.nav {
    width: 100%;
    height: 8rem;
}

.nav .flex {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-logo a {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
}

.nav-logo h5 {
    font-weight: 600;
    margin-left: .3rem;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    justify-content: space-between;
    align-items: center;
    
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.cart-icon {
    position: relative;
    height: 100%;
}

.cart-icon p {
    position: absolute;
    bottom: 0;
    right: 0;
}